#navbar{
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 4em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  ul {
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 25px;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  .cv {
    margin: 0 25px;
  }
  .swith-language {
    margin-right: 1.5em;
    margin-left: 25px;
    height: 2em;
    width: 3em;
    .select-language {
      display: flex;
      width: 3em;
      height: 2em;
      button {
        background-color: gray;
        color: black;
        width: 1em;
        height: 2em;
        border-radius: 2px;
      }
      img {
        display: inline-block;
        height: 2em;
        width: 2em;
      }
    }
    .language-choice {
      position: absolute;
      margin-top: 5px;
      height: 2em;
      width: 2em;
      a {
        height: 100%;
        width: 100%;
        text-decoration: none;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}