#techno {
  .search {
    display: flex;
    align-self: flex-start;
    margin-top: 2em;
    margin-left: 3em;
    flex-wrap: wrap;
    div {
      display: flex;
      flex-direction: column;
      p {
        margin-bottom: 5px;
      }
      input {
        height: 1.5em;
        background-color: white;
        border-radius: 5px;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2em;
  }
  li {
    width: 5em;
  }
}